# Mengabaikan folder platform bawaan dari statistik bahasa GitHub
android/**/* linguist-vendored
ios/**/* linguist-vendored
windows/**/* linguist-vendored
linux/**/* linguist-vendored
macos/**/* linguist-vendored
web/**/* linguist-vendored
